/* Base Styles */
body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 1rem;
  background-color: #303030; /* New base dark color */
  color: #e0e0e0;
  line-height: 1.6;
  transition: background-color 0.3s, color 0.3s;
}

h1, h2 {
  text-align: center;
  font-weight: 700;
  margin-top: 1rem;
}

/* Neumorphic Container */
.container {
  background: #303030;
  border-radius: 20px;
  box-shadow: 10px 10px 30px #212121, -10px -10px 30px #484848; 
  padding: 1.5rem;
  margin: 1rem auto;
  max-width: 800px;
  display: grid;
  align-items: center;
  text-align: center;
}

ul#events-list {
  display: grid;
  gap: 20px;
  list-style: none;
  padding-inline-start: 0;
}

.raised {
  background: #303030; 
  border-radius: 12px;
  box-shadow: 5px 5px 15px #212121, -5px -5px 15px #484848;
  color: #e0e0e0;
  margin: 0.5rem auto;
  padding: 1rem;
  width: 80%;
  display: grid;
  align-content: center;
}

/* Buttons in Neumorphic Style */
button {
  background: #303030; /* Updated to match new base dark color */
  border: none;
  border-radius: 12px;
  box-shadow: 5px 5px 15px #212121, -5px -5px 15px #484848;
  color: #e0e0e0;
  font-size: 1rem;
  padding: 0.75rem;
  cursor: pointer;
  transition: all 0.3s;
}

button:hover {
  box-shadow: inset 5px 5px 15px #212121, inset -5px -5px 15px #484848;
}

/* Iframe Styling */
iframe {
  display: block;
  width: 100%;
  height: 600px;
  border-radius: 30px !important;
  transition: all 0.3s;
}

/* Responsive Design */
@media (max-width: 768px) {
  iframe {
    max-width: 100%;
    height: 400px;
  }
}

/* Dark Mode Toggle */
.dark-mode-toggle {
  display: flex;
  justify-content: flex-end;
  max-width: calc(800px + 3rem);
  margin: auto auto 20px auto;

}

button i {
  font-size: 1.5rem; /* Size for sun/moon icon */
}

/* Light Mode Styles */
body.light-mode {
  background-color: #f5f5f5;
  color: #333;
}

body.light-mode h1,
body.light-mode h2 {
  color: #333; /* Header color in light mode */
}

body.light-mode  .container {
  background: #f5f5f5;
  box-shadow: 10px 10px 30px #d9d9d9, -10px -10px 30px #ffffff;
}

body.light-mode .raised {
  background: #f5f5f5;
  color: #333;
  box-shadow: 5px 5px 15px #d9d9d9, -5px -5px 15px #ffffff;
}

body.light-mode button {
  background: #f5f5f5;
  color: #333;
  box-shadow: 5px 5px 15px #d9d9d9, -5px -5px 15px #ffffff;
}

body.light-mode button:hover {
  box-shadow: inset 5px 5px 15px #d9d9d9, inset -5px -5px 15px #ffffff;
}
