body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  margin: 20px;
  text-align: center;
}

iframe {
  margin: 20px 0;
}

#events-container {
  margin-top: 20px;
}

#events-list {
  list-style-type: none;s
}
